.image {
  display: flex;
  justify-content: center;
  align-items: center; /* اضافه کن */
  width: 150px;
  height: 100%;
  padding-right: 5px;
}

.image img {
  height: 100%; /* قبلا auto بود */
  object-fit: contain;
}

@media (max-width: 768px) {
   .image {
      width: 120px;
      height: 80px;
   }
}
