.image {
   display: flex;
   justify-content: center;
   width: 150px;
   height: 100px;
   padding-right: 5px;
}

.image img {
   /* width: 70%; */
   height: auto;
}

@media (max-width: 768px) {
   .image {
      width: 120px;
      height: 100px;
   }
}
