@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container{
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgb(41, 40, 40);
}

.weatherWrapper{
    min-width: 35%;
    min-height: 65%;
    padding: 10px;
    background-color: rgb(238, 226, 202);
    border-radius: 11px;
    flex-wrap: wrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.title{
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    text-align: center;
} 

.search{
    color: (#333);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

.search input{
    padding: 8px;
    border: none;
    border-radius: 22px;
    font-size: 18px;
    flex-grow: 0.8;
    outline: none;
    color: (#333);
}

.search button{
    border-radius: 50px;
    margin-left: 10px;
    padding: 10px 12px;
    background-color: rgb(250, 153, 34);
    border: none;
    cursor: pointer;
}

.search button:hover{
    background-color: rgb(255, 140, 0);
}

.weatherIcon{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.weatherTemp{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}