@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.container {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherWrapper {
  background-color: rgba(28, 28, 28, 0.3);
  width: 100%;
  height: 90%;
  border-radius: 9px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 1px 5px 3px rgba(77, 77, 77, 0.2);
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 40px;
}

.search input {
  font-size: 20px;

  width: 90%;
  border: none;
  outline: none;
  padding: 10px 24px;
  border-radius: 25px;
}

.search button {
  border: none;
  border-radius: 100%;
  padding: 16px;
  background-color: rgb(250, 153, 34);
}

.search button:hover {
  background-color: rgb(255, 140, 0);
}

.weatherIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
}

.weatherTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 32px;
}
