.container{
    min-height: 100vh;
    background-color: rgb(220, 242, 242);
    align-items: center;
    
}

.container{
    display: flex;
    justify-content: center;
}

.weatherWrapper{
    min-width: 35%;
    min-height: 60%;
    padding: 10px;
    background-color: rgb(51, 109, 175);
    border-radius: 11px;
    flex-wrap: wrap;
}

.title{
    margin-top: 20px;
    text-align: center;
} 

.search{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

.search input{
    padding: 8px;
    border: none;
    border-radius: 22px;
    font-size: 18px;
    flex-grow: 0.8;
    outline: none;
}

.search button{
    border-radius: 50px;
    margin-left: 10px;
    padding: 10px 12px;
    background-color: rgb(237, 134, 9);
    border: none;
    cursor: pointer;
}

.weatherIcon{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.weatherTemp{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}